// Mixins in here

.button-mixin (@color, @size, @color2, @radius, @color3){
	color: @color;
	font-size: @size;
	border: 1px solid @color2;
	border-radius: @radius;
	background-color: @color3;
	padding: 10px 15px;
	display: flex;
	justify-content: center;
}

.hover {
	animation-name: button;
	animation-duration: 2s;
	font-weight: bold;
}

@keyframes button {
	from {background-color: white;}
	to {background-color: hotpink;}
}